<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio List</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>

<div class="container">
    <h1>Your Portfolios</h1>

    <!-- 포트폴리오 목록 -->
    <table>
        <thead>
        <tr>
            <th>Portfolio ID</th>
            <th>Member ID</th>
            <th>Portfolio Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- 포트폴리오 목록 출력 -->
        <tr th:each="portfolio : ${portfolios}">
            <td th:text="${portfolio.id}"></td>
            <td th:text="${portfolio.memberId}"></td>
            <td>
                <a th:text="${portfolio.name}" th:href="@{'/portfolio/' + ${portfolio.id}}"></a>
            </td>
            <td>
                <!-- 수정 버튼 -->
                <button onclick="showEditForm()">✏️</button>

                <!--이름 변경 폼-->
                <form action="/portfolio/change-name" method="post" id="edit-form" style="display: none">
                    <input type="text" name="nameToChange" style="display: inline">
                    <input type="hidden" name="portfolioId" th:value="${portfolio.id}">
                    <button type="submit" style="display: inline">이름 변경</button>
                </form>

                <!-- 삭제 버튼 -->
                <form action="/portfolio" th:method="delete" style="display:inline;">
                    <input type="hidden" name="portfolioId" th:value="${portfolio.id}">
                    <button type="submit">🗑️</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>

    <!-- 포트폴리오 추가 폼 -->
    <h3>Add New Portfolio</h3>
    <form action="/portfolio/add" method="POST">
        <span>Portfolio Name <input type="text" name="portfolioName"></span>
        <button type="submit">Add</button>
    </form>
    <hr>
</div>

<script>
    function showEditForm(){
        let editForm = document.getElementById("edit-form");
        if (editForm.style.display === "none") {
            editForm.style.display = "inline-block";
        }
    }
</script>

</body>
</html>